.content {
    margin: 0 auto;
    width: 1000px;;
}

.title.m-b-md {
    text-align: center;
}

.form-hash {
    text-align: center;
}

.form-hash__encode-decode {
    width: 300px;
    margin-bottom: 5px;
}

.btn-primary {
    margin-right:10px;
}

.form-hash__result {
    min-height: 22px;
    margin-bottom: 5px;
}
